.btn {
  display: inline-block;
  padding: 0.5em 2em;
  text-decoration: none;
  border: 2px solid var(--gold);
  border-radius: 20px;
  color: var(--white);
  font-weight: bold;
  margin: 0.5rem;
}

.btn:hover {
  border: 2px solid var(--white);
  color: var(--gold);
  transform: scale(1.05);
}

.btn-center {
  display: flex;
  margin-top: 6vh;
  justify-content: center;
}

.btn-form {
  margin-top: 3vh;
}

.btn img {
  width: 1.5rem;
  margin-right: 0.5em;
}

@media (min-width: 40rem) {
  .btn-center {
    justify-content: left;
  }
}
