.btn {
  display: inline-block;
  padding: 0.5em 2em;
  text-decoration: none;
  border: 2px solid var(--gold);
  border-radius: 20px;
  color: var(--white);
  font-weight: bold;
  margin: 0.5rem;
}

.btn:hover {
  border: 2px solid var(--white);
  color: var(--gold);
  transform: scale(1.05);
}

.btn-center {
  display: flex;
  margin-top: 6vh;
  justify-content: center;
}

.btn-form {
  font-size: 1em;
  margin-top: 3vh;
  cursor: pointer;
  background: var(--black);
  outline: none;
}

.btn img {
  width: 1.5rem;
  margin-right: 0.5em;
}

.popup-container {
  display: none;
}

.popup-container.send {
  display: block;
  position: fixed;
  width: 35vh;
  height: 15vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--gold);
  justify-content: center;
  align-items: center;
}

@media (min-width: 40rem) {
  .btn-center {
    justify-content: left;
  }
}
