*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  scroll-behavior: smooth;
  font-size: 62.5%;
  --black: #131313;
  --gold: #dfb131;
  --white: #d3d3d4;
}

.header {
  font-size: 2.1rem;
}
