*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  --bg-primary: #131313;
  --text-primary: #dfb131;
  --text-secondary: #F2F2F6;
}

body {
  background-color: var(--bg-primary);
}

body::-webkit-scrollbar {
  width: 0.3rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

h1,
h3,
h4,
p,
li {
  color: var(--text-primary);
}

.container {
  padding-top: 1.875rem;
  /* border: 2px dotted green; */
  min-height: 100vh;
  max-width: 90%;
  margin: 0 auto;
}

/* .navbar {
  display: flex;
  border-bottom: 2px solid #dfb131;
  height: 3rem;
  justify-content: flex-end;
  border: 1px solid white;
} */


/********* LANGUAGE **********/
.language {
  display: flex;
  align-items: center;
}

.language img {
  padding: 0 10px;
  width: 54px;
  cursor: pointer;
  filter: saturate(50%);
  
  text-align: center;
}

.language img:hover {
  filter: saturate(1);

/******** MEDIA *******/
@media (min-width: 860px) {
  /* header {
    background: url(/images/intro.png) no-repeat fixed center;
  } */
}
