*,
::after,
::before {
  margin: 0;
  padding: 0;
  /* transition: all ease-in-out 250ms; */
}

:root {
  --black: #131313;
  --gold: #dfb131;
  --white: #d3d3d4;
}

body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--gold);
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /*10px*/
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  background: var(--black);
  color: var(--white)
}

header {
  padding: 1.5em 1.5em 0;
}

footer {
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  text-align: center;
  border-top: 1px solid var(--gold);
  margin-top: 1em;
}

footer p {
  color: var(--gold);
  padding: 0 2rem;
}

section {
  padding: 1em 1.5em 0;
  text-align: center;
}

h1 {
  font-size: 6rem;
  font-weight: 800;
  line-height: 1;
  color: var(--white);
}

h2 {
  font-size: 3rem;
  color: var(--black);
  text-shadow: -1px 0 var(--gold), 0 1px var(--gold), 1px 0 var(--gold),
    0 -1px var(--gold);
  letter-spacing: 3px;
  text-transform: uppercase;
}

h2,
p {
  margin: 2.5vh 0;
  font-weight: 700;
}

h3,
h4 {
  padding-top: 0.4em;
  color: var(--gold);
}

p {
  color: var(--white);
}

.p__text {
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid var(--gold);
}

ul {
  display: flex;
  list-style: none;
}

.nav-link {
  display: none;
  font-size: 1em;
  text-decoration: none;
  margin-right: 1rem;
}

.language {
  display: flex;
  align-items: center;
}

.language a {
  cursor: pointer;
  filter: saturate(50%);
}

.language a:hover {
  filter: saturate(100%);
}

.hero {
  text-align: left;
}

.yellow-dot {
  color: var(--gold);
}

.hero-text {
  margin-top: 7vh;
}

.svg {
  display: none;
}

svg {
  width: 15em;
  height: 15em;
}

@media (min-width: 1441px) {
  svg {
    width: 25em;
    height: 25em;
  }
}

#logo {
  transform: translate(0%, 0%);
}

#logo path:nth-child(1) {
  transform: translate(-55%, 55%);
  animation: anim 1.5s ease forwards;
}
#logo path:nth-child(2) {
  transform: translate(-55%, -55%);
  animation: anim 2.5s ease 0.3s forwards;
}
#logo path:nth-child(3) {
  transform: translate(55%, -55%);
  animation: anim 2.3s ease 0.6s forwards;
}
#logo path:nth-child(4) {
  transform: translate(55%, 55%);
  animation: anim 2s ease 0.9s forwards;
}
#logo path:nth-child(5) {
  transform: translate(55%, 55%);
  animation: anim 2s ease 1.2s forwards;
}

@keyframes anim {
  to {
    transform: translate(0, 0);
  }
}

.developer-text {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hero__right-side {
  border-radius: 2%;
}

.heading-moto {
  margin: 0.5em 0;
  transform: scale(1);
}

.bulb {
  width: 6rem;
}

.yellow-text {
  color: var(--gold);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

@media (max-width: 360px) {
  .heading-moto {
    font-size: 4rem;
  }

  .bulb {
    width: 3rem;
  }
}

.accent-text {
  color: var(--gold);
  position: relative;
  font-size: 1.6rem;
  bottom: -5px;
  left: 1em;
  width: 10ch;
}

.text-bottom {
  color: var(--gold);
  margin-top: 6vh;
  max-width: 42ch;
}

.photo {
  display: block;
  width: 100%;
  border-radius: 2%;
}

.about-me__subtitle {
  text-align: left;
}

.skills-container {
  display: grid;
  grid-template-columns: auto auto auto;
  place-items: center;
  align-items: center;
}

.skills-container img {
  display: block;
  width: 6rem;
  height: auto;
}

.skill-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-icon p {
  margin: 0.8em 0;
  color: var(--white);
}

.project-description {
  margin-top: -2em;
}

.project__one {
  margin-top: -2em;
}

.projects-image img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: scale(0.7);
}

.contact-information {
  place-self: center;
}

.contact-icon {
  display: flex;
  align-items: center;
}

.contact-icons a {
  margin: 2.5vh 0.4em;
  font-weight: 700;
  text-decoration: none;
  color: var(--white);
  letter-spacing: 0;
}

.contact-icons a:hover {
  color: var(--gold);
}

.contact-icon img {
  width: 4rem;
}

.contact-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.form-input {
  width: 80%;
  position: relative;
  height: 4em;
  overflow: hidden;
  margin: 0.4em 0;
}

.contact-form input {
  width: 100%;
  height: 100%;
  font-size: 2rem;
  color: var(--white);
  padding-top: 1em;
  border: none;
  outline: none;
  background-color: var(--black);
}

.form-input label {
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.contact-form label::after,
.contact-form textarea::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid var(--gold);
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0;
  transition: all 0.3s ease;
  color: var(--white);
  font-weight: 700;
}

.contact-form input:focus + .label-name .content-name,
.contact-form input:valid + .label-name .content-name {
  transform: translateY(-150%);
  /* font-size: 1rem; */
  color: var(--gold);
}

.contact-form input:focus + .label-name::after,
.contact-form input:valid + .label-name::after {
  transform: translateX(0%);
}

/* CURTAIN LAYER MENU */

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  z-index: 1;
}

.navigation.active {
  visibility: visible;
  padding: 0;
}

.navigation span {
  position: absolute;
  top: -100%;
  left: calc(25% * var(--i));
  width: 25%;
  height: 100%;
  background: var(--gold);
  border: 1px solid rgba(0, 0, 0, 0.25);
  transition: 0.25s;
  transition-delay: calc(0.25s * var(--i));
}
.navigation.active span {
  top: 0;
}

.navigation ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  transform: translateX(-350px);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  transition-delay: 0s;
}

.navigation.active ul {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  transition-delay: 0.75s;
}

.navigation ul li {
  list-style: none;
}

.navigation ul li a {
  text-decoration: none;
  font-size: 2em;
  font-weight: 700;
  color: var(--black);
  display: inline-block;
  padding: 5px 20px;
}

.navigation ul li a:hover {
  background: #fff;
  color: var(--black);
}

@media (max-width: 767px) {
  .navigation ul li a {
    font-size: 1.8em;
  }
}

.social-icons {
  display: flex;
  z-index: 1;
  align-items: flex-start;
  transform: translateX(350px);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  transition-delay: 0s;
}

.social-icons img {
  margin: 1em 0.5em;
}

.social-icons img:hover {
  transform: scale(1.2);
}

.social-icons.active {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  transition-delay: 1.3s;
}

.social-icons img {
  width: 2em;
}

.social-icons__bottom {
  display: flex;
}

.social-icons__bottom img {
  width: 3rem;
}

.menu-btn__burger {
  top: 2rem;
  z-index: 2;
  height: 6rem;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-btn__burger .bar1,
.menu-btn__burger .bar2,
.menu-btn__burger .bar3 {
  width: 20px;
  height: 2px;
  margin: 3px 0;
  transition: 0.7s;
  background-color: var(--gold);
  border-radius: 1rem;
}

.menu-btn__burger.open {
  position: fixed;
  top: 2rem;
}

.menu-btn__burger.open .bar1 {
  transform: rotate(-45deg) translate(-4px, 4px);
  background-color: var(--black);
}

.menu-btn__burger.open .bar2 {
  transform: translateX(200%);
  opacity: 0;
}

.menu-btn__burger.open .bar3 {
  transform: rotate(45deg) translate(-7px, -8px);
  background-color: var(--black);
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 0.5em 2em;
  text-decoration: none;
  border: 2px solid var(--gold);
  border-radius: 20px;
  color: var(--white);
  font-weight: bold;
  margin: 0.5rem;
}

.btn:hover {
  border: 2px solid var(--white);
  color: var(--gold);
}

.btn-center {
  display: flex;
  margin-top: 6vh;
  justify-content: center;
}

.btn-main {
  width: 100px;
  text-align: center;
}

.btn-form {
  font-size: 1em;
  margin-top: 3vh;
  cursor: pointer;
  background: var(--black);
  outline: none;
}

.btn img {
  width: 1.5rem;
  margin-right: 0.5em;
}

.popup-container {
  display: none;
}

.popup-container.send {
  display: block;
  position: fixed;
  width: 35vh;
  height: 15vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--gold);
  justify-content: center;
  align-items: center;
}

@media (min-width: 40rem) {
  .btn-center {
    justify-content: left;
  }
}



/* Media-quaries */
/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}
/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}
/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 49%;
  }
}

/* 1025px */
@media (min-width: 64.06em) {
  main,
  header {
    max-width: 65vw;
    margin: 0 auto;
  }
}

/* 768px */
@media (min-width: 48em) {
  header {
    height: auto;
  }

  .navbar {
    border: none;
  }
  .hero {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1em;
    text-align: left;
  }

  .box__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 2%;
    background: #ababab;
  }

  .puzzle {
    padding-top: 0.5em;
    display: block;
    width: 70%;
  }

  .heading-moto {
    color: black;
    text-align: end;
    margin: 0.2em 0.3em;
    opacity: 0;
    animation: opacity 3s ease-in forwards 1s;
  }

  @keyframes opacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .developer-text {
    display: flex;
    align-items: center;
  }

  .about-me__container {
    display: flex;
    flex-direction: column;
  }

  .about-me_section,
  .contact_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .portfolio-projects__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .reverse {
    direction: rtl;
  }

  .svg {
    display: block;
  }
}
