.bio {
  display: flex;
  flex-direction: column;
  padding-top: 1.875rem;
}

.bio img {
  width: 100%;
}

.bio p {
  font-weight: 700;
  padding-top: 1rem;
  font-size: 1.2rem;
  color: var(--text-secondary);
}

.tech {
  margin-top: 1.5rem;
}

.tech h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  color: var(--text-primary);
  text-transform: uppercase;
}

.tech p {
  color: var(--text-secondary);
  text-align: center;
  font-size: 1.8rem;
  margin-top: 1.25rem;
}

.flex-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-icons div {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  text-align: center;
  margin: 15px 15px 10px 10px;
}

.flex-icons p {
  font-size: 20px;
}

@media (min-width: 860px) {
  .bio {
    padding-top: 0px;
    grid-column: 1/2;
  }

  .bio p {
    margin-top: 8%;
    font-size: 1.8rem;
    font-weight: 800;
  }

  .flex-icons div {
    align-items: center;
    margin: 5%;
    width: 130px;
  }

  .flex-icons p {
    font-size: 30px;
  }

  .tech h1 {
    font-size: 2.5rem;
  }
}
