/* :root {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  --bg-primary: #131313;
  --text-primary: #dfb131;
  --text-secondary: #f2f2f6;
} */

.intro {
  /* margin-bottom: 3rem; */
  border-top: 3px solid var(--text-primary);
}

.intro h1 {
  color: var(--text-secondary);
  font-weight: 900;
  font-size: 3.3rem;
}

.intro span {
  color: var(--text-primary);
  margin-left: -15px;
}

.intro-center {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.intro-center h1 {
  width: 120%;
}

.intro-center h4 {
  padding-left: 2.3rem;
}

.text-bottom {
  padding: 30px 0;
}

/****** buttons ******/

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.buttons a {
  text-decoration: none;
  border: 5px solid var(--text-primary);
  border-radius: 25px;
  color: #fff;
  padding: 8px 40px;
  font-weight: 700;
}

.buttons img {
  width: 18px;
  /* margin-right: 8px; */
  /* padding-top: 8px; */
}

@media (min-width: 860px) {
  .intro {
    display: flex;
    flex-direction: column;
    border: none;
    margin-top: 2.5rem;
  }

  .intro h1 {
    font-size: 130px;
    line-height: 1.1;
  }

  .intro-center h4 {
    width: 70%;
    font-weight: 900;
    font-size: 45px;
    margin-left: 4rem;
  }

  .text-bottom {
    margin-top: 2rem;
    width: 40%;
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
  }

  .buttons {
    justify-content: flex-start;
  }

  .buttons * {
  }

  .buttons a {
    border: 5px solid var(--text-primary);
    border-radius: 35px;
    font-weight: 800;
    font-size: 30px;
    margin-right: 100px;
  }

  .buttons img {
    width: 28px;
  }
}
