.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar ul {
  list-style-type: none;
}

li {
  float: left;
}

li a {
  display: block;
  text-decoration: none;
  color: var(--gold);
}

.brg {
  position: fixed;
  font-size: 1.5rem;
  left: 1em;
  color: var(--gold);
}

.sidenav {
  height: 45vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--gold);
  overflow-x: hidden;
  transition: 0.5s;
  padding: 3em 0;
  border-radius: 0px 0px 880px 0px;
}

.sidenav a {
  color: var(--black);
  text-decoration: none;
  padding: 0.3em 1.3em;
  display: block;
  font-weight: 700;
}

.closebtn {
  position: absolute;
  font-size: 1.3rem;
  top: 1em;
}

@media (max-width: 767px) {
  .navbar li {
    display: none;
  }
}

@media (min-width: 768px) {
  .navbar span {
    display: none;
  }
}
