*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  --bg-primary: #131313;
  --text-primary: #dfb131;
  --text-secondary: #f2f2f6;
}

body {
  background-color: var(--bg-primary);
}

body::-webkit-scrollbar {
  width: 0.8rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

h1,
h3,
h4,
p,
li {
  color: var(--text-primary);
}

.container {
  padding-top: 1.875rem;

  max-width: 90%;
  margin: 0 auto;
}

/********* LANGUAGE **********/
.language {
  display: flex;
  align-items: center;
}

.language a {
  cursor: pointer;
  filter: saturate(50%);
}

.language img {
  width: 44px;
}

.language a:hover {
  filter: saturate(1);
}

/******** MEDIA *******/
@media (min-width: 860px) {
  .background-image {
    background: url(/images/intro.png) no-repeat fixed center;
  }

  .navbar li * {
    padding: 10px 80px 40px 0;
    font-size: 1.5rem;
    font-weight: 700;
  }

  .container {
    min-height: 100vh;
  }
}
