*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Montserrat', sans-serif;
  /* font-size: 16px; */
  /* font-size: 62.5%; */
  --bg-primary: #131313;
  --text-primary: #dfb131;
  --text-secondary: #d3d3d4;
}

html {
  /* font-size: 62.5%; */
  font-size: calc(1em + 1vw);
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-primary);
}

body::-webkit-scrollbar {
  width: 0.3em;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

h1,
h4,
p,
li {
  color: var(--text-primary);
}

.container {
  max-width: 85%;
  margin: 0 auto;
  /* min-height: 100vh; */
}

header {
  padding-top: 1em;
  border-bottom: 3px solid var(--text-primary);
}

/********* LANGUAGE **********/
.language {
  display: flex;
  align-items: center;
}

.language a {
  cursor: pointer;
  filter: saturate(50%);
}

.language img {
  width: 2rem;
  height: auto;
}

.language a:hover {
  filter: saturate(100%);
}

/******** MEDIA *******/
@media (min-width: 768px) {
  .background-image {
    background: url(/images/intro.png) no-repeat fixed center;
  }

  .navbar li * {
    padding: 10px 80px 40px 0;
    /* font-size: 1.8rem; */
    font-weight: bold;
  }

  .container {
    /* min-height: 100vh; */
    /* max-width: 75%; */
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
  }
}
