*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  scroll-behavior: smooth;
  --black: #131313;
  --gold: #dfb131;
  --white: #d3d3d4;
}

html {
  /* font-size: calc(1em + 1vw); */
}

body {
  background-color: var(--black);
}

body::-webkit-scrollbar {
  width: 0.3em;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

h1,
h2,
h3,
h4,
p,
li {
  color: var(--gold);
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.header {
  /* position: relative; */
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  /* flex-direction: column; */
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  /* font-size: 2.1rem; */
  /* font-size: 50vh; */
  overflow: hidden;
}

.container {
  /* height: 100vh; */
  /* height: calc(var(--vh, 1vh) * 100); */
  max-width: 85%;
  margin: 0 auto;
  /* min-height: 100vh; */
}

/* header {
  padding-top: 1em;
  border-bottom: 3px solid var(--gold);
} */

/********* LANGUAGE **********/
.language {
  display: flex;
  align-items: center;
}

.language a {
  cursor: pointer;
  filter: saturate(50%);
}

.language img {
  width: 3rem;
  height: auto;
}

.language a:hover {
  filter: saturate(100%);
}

/******** MEDIA *******/
@media (min-width: 768px) {
  .background-image {
    /* background: url(/images/intro.png) no-repeat fixed center; */
  }

  .navbar li {
    margin-right: 2em;
  }

  .container {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    /* min-height: 100vh; */
    /* max-width: 75%; */
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
  }
}
